#jinja2: trim_blocks: True, lstrip_blocks: True
{#######################################

#Purpose:
Create FRR configuration for ceos devices

#######################################}
{% if ceosos_bgp is defined and ceosos_bgp %}
router bgp {{ ceosos_bgp.asn }}
 {% if ceosos_bgp.timer is defined and ceosos_bgp.timer %}
  timer bgp {{ ceosos_bgp.timer }}
 {% endif %}
{% endif %}
{% if ceosos_bgp.neighbor is defined and ceosos_bgp.neighbor %}
  {% for neighbor in ceosos_bgp.neighbor %}
    {% if neighbor.address is defined and neighbor.address %}
      {% if neighbor.remote_asn is defined and neighbor.remote_asn %}
        {% if neighbor.state is defined and neighbor.state == "present" %}
 neighbor {{ neighbor.address }} remote-as {{ neighbor.remote_asn }}
        {% else %}
 no neighbor {{ neighbor.address }} remote-as {{ neighbor.remote_asn }}
        {% endif %}
      {% endif %}
    {% endif %}     
    {% if neighbor.address_family is defined and neighbor.address_family %}
      {% for af in neighbor.address_family %}
        {% if af.type is defined and af.type %}
          {% if af.type == "ipv4" %}
 address-family ipv4 unicast
          {% elif af.type == "ipv6" %}
 address-family ipv6 unicast
          {% endif %}
          {% if af.activate %}
  neighbor {{ neighbor.address }} activate
          {% else %}
  no neighbor {{ neighbor.address }} activate
          {% endif %}
        {% endif %}
      {% endfor %}   
    {% endif %}
  {% endfor %}  
{% endif %}   
{% if ceosos_bgp.redistribute is defined and ceosos_bgp.redistribute %}
  {% for route in ceosos_bgp.redistribute %}
    {% if route.route_type is defined and route.route_type %}
      {% if route.address_type is defined and route.address_type %}
        {% if route.address_type == "ipv4" %}
 address-family ipv4 unicast
        {% elif route.address_type == "ipv6" %}
 address-family ipv6 unicast
        {% endif %}
        {% if route.route_type == "connected" %}
          {% if route.state == "present" %}
  redistribute connected
          {% else %}
  no redistribute connected
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if ceosos_bgp.ipv4_network is defined and ceosos_bgp.ipv4_network %}
address-family ipv4 unicast
    {% for network in ceosos_bgp.ipv4_network %}
      {% if network.state is defined and network.state %}
        {% if network.state == "present" %}
network {{ network.address }}
        {% else %}
no network {{ network.address }}
        {% endif %}
      {% else %}
network {{ network.address }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if ceosos_bgp.ipv6_network is defined and ceosos_bgp.ipv4_network %}
address-family ipv6 unicast
    {% for network in ceosos_bgp.ipv4_network %}
      {% if network.state is defined and network.state %}
        {% if network.state == "present" %}
network {{ network.address }}
        {% else %}
no network {{ network.address }}
        {% endif %}
      {% else %}
network {{ network.address }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}    
