{###########################################

Purpose:
OS10 Base Configuration template
hostname
username
service (syslog, ntp, snmp, aaa)
############################################}
hostname {{ hostname }}.{{ domain.name }}
!
hardware l3 ipv6-extended-prefix 1024
service simple-password
!
{% for user in users %}
username {{ user.name }} password {{ user.passwd }} role {{ user.role }} priv-lvl 15
{% endfor %}
!
ip virtual-router mac-address {{ tor_pair_vmac }}
!
{% for vrfi in evpn.vrf %}
ip vrf {{ vrfi.name }}
!
{% endfor %}
snmp-server contact "Dell POC Lab @ Santa Clara"
snmp-server engineID remote 172.100.100.249 udp-port 161 0x61646d696e
snmp-server group labgroup 2c notify notify_view
snmp-server group labgroupv3 3 noauth read read_view
snmp-server user labadmin labgroupv3 3 auth sha admin321
snmp-server view read_view 1.3.6.1.2 included
snmp-server view notify_view 1.3.6.1.2.1.2.2 included
snmp-server view labview .1 excluded
!
logging source-interface mgmt1/1/1
logging server 172.100.100.249 tcp 1514 severity log-notice
!
