#jinja2: trim_blocks: True,lstrip_blocks: True
{#############################################

Purpose:
Configure system for dellos10 Devices

###############################################}
hostname {{ hostname }}.{{ dc_id }}
!
{#
!
interface mgmt 1/1/1
 no ip address dhcp
 no ip address
 no ipv6 address autoconfig
 no ipv6 address
exit
ip vrf management
 interface management
exit
interface mgmt 1/1/1
 ip address {{ oob_mgmt.addr_v4 }}
exit
management route 0.0.0.0/0 {{ oob_mgmt.gw_v4 }}
exit
#}