{#####################################################

Purpose:
Configure layer2 profile interface for dellos10 Devices.

#####################################################}
{% if breakout_25g %}
{% set b_start = breakout_25g.start | int %}
{% set b_end = breakout_25g.end | int +1 %}
{% for i in range(b_start, b_end, 1) %}
interface breakout 1/1/{{ i }} map 25g-4x
{% endfor %}
{% endif %}
!
{% if breakout_40g %}
{% set b_start = breakout_40g.start|int %}
{% set b_end = breakout_40g.end|int +1 %}
{% for i in range(b_start, b_end, 1) %}
interface breakout 1/1/{{ i }} map 40g-1x
{% endfor %}
{% endif %}
!
vrrp version 3
!
{% for vlan in vlans %} 
interface vlan{{ vlan.id }}
 description "{{ vlan.desc }}"
 no shutdown
{%- if vlan.addr_v4 %} 
 ip address {{ vlan.addr_v4 }}
{%- endif %} 
{%- if vlan.addr_v6 %} 
 ipv6 address {{ vlan.addr_v6 }}
{%- endif %} 
 !
{%- if vlan.addr_vip %} 
 vrrp-group 1
  priority {{ vlan.prio }}
  virtual-address {{ vlan.addr_vip }}
{%- endif %} 
!
{%- endfor %}

{# Generate Port-Channel CFG #}
{% if trunk_bond.total %}
{% set b_total = trunk_bond.total | int + 1 %}
{% for i in range(1, b_total, 1) %}
{% set bond_id = 100 + i %}
interface port-channel{{ bond_id }}
 description "VLT PO to Compute{{ i }}"
 switchport mode trunk
 switchport trunk allowed vlan {{ trunk_bond.vlan_list|join(",") }}
 no shutdown
 vlt-port-channel {{ bond_id }}
!
{# Generate Port-Channel Member as Range CFG #}
{% if trunk_bond.bmem_range %}
{% set member = trunk_bond.bmem_range[i-1] %}
interface range ethernet{{ member }}
 channel-group {{ bond_id }} mode active
 no switchport
 no shutdown
 mtu 9216
!
{% endif %}
{% if trunk_bond.bmem_indiv %}
{% set member = trunk_bond.bmem_indiv[i-1] %}
interface ethernet{{ member }}
 description "VLT PO{{ bond_id }} member to Compute{{ i }}"
 channel-group {{ bond_id }} mode active
 no switchport
 no shutdown
 mtu 9216
!
{% endif %}
{% endfor %}
{% endif %}
{# Generate Layer2 Trunk CFG #}
{% if trunk_port %}
{% if trunk_port.port_range %}
{% for range in trunk_port.port_range %}
interface range ethernet{{ range.start }}-{{ range.end }}
 description "{{ trunk_port.desc }}"
 switchport mode trunk
 switchport trunk allowed vlan {{ trunk_port.vlan_list|join(',') }}
 no shutdown
!
{% endfor %}
{% endif %}
{# Generate Layer2 Port trunk as Individual CFG #}
{% if trunk_port.port_indiv %}
{% for indiv in trunk_port.port_indiv %}
interface ethernet{{ indiv }}
 description "{{ trunk_port.desc }}"
 switchport mode trunk
 switchport trunk allowed vlan {{ trunk_port.vlan_list|join(',') }}
 no shutdown
!
{% endfor %}
{% endif %}
{% endif %}
{# Generate Layer2 Native Port CFG #}
{% if vlan_port %}
{% for vlan in vlan_port %}
{# Generate Layer2 Native Port as Range CFG #}
{% if vlan.port_range %}
{% for range in vlan.port_range %}
interface range ethernet{{ range.start }}-{{ range.end }}
 description "{{ port.desc }}"
 switchport mode access
 switchport access vlan {{ port.vlan }}
 no shutdown
!
{% endfor %}
{% endif %}
{# Generate Layer2 Native Port as Individual CFG #}
{% if vlan.port_indiv %}
{% for indiv in vlan.port_indiv %}
interface ethernet{{ indiv }}
 description "{{ vlan.desc }}"
 switchport mode access
 switchport access vlan {{ vlan.id }}
 no shutdown
!
{%- endfor %}
{% endif %}
{% endfor %}
{% endif %}
{# Generate VLT CFG #}
{% if vlt %}
interface range ethernet{{ vlt.vlti|join("-") }}
 description "SW Interlink_VLTi"
 no switchport
 no shutdown
 mtu 9216
 flowcontrol receive on
!
vlt-domain {{ vlt.domain_id }}
 peer-routing
 delay-restore 300
 discovery-interface ethernet{{ vlt.vlti|join('-') }}
 peer-routing
 vlt-mac {{ vlt.vmac }}
!
{% endif %}
{# Generate Layer3 Uplink CFG #}
{% if l3_uplink %} 
{% for intf in l3_uplink %} 
interface eth{{ intf.port }}
 no switchport
 description "{{ intf.desc }}"
 no shutdown
 no ip address
 ip address {{ intf.addr_v4 }}
 {% if intf.addr_v6 %}
 no ipv6 address
 ipv6 address {{ intf.addr_v6 }}
 {% endif %}
!
{%- endfor %}
{% endif %}

