{#####################################################

Purpose:
Configure layer2 profile interface for dellos10 Devices.

#####################################################}
{% if l3_uplink %} 
{% for intf in l3_uplink %} 
interface eth{{ intf.port }}
 no switchport
 description "{{ intf.desc }}"
 no shutdown
 no ip address
 ip address {{ intf.addr_v4 }}
 {% if intf.addr_v6 %}
 no ipv6 address
 ipv6 address {{ intf.addr_v6 }}
 {% endif %}
!
{%- endfor %}
{% endif %}

