{#####################################################

Purpose:
Configure layer2 native interface for dellos10 Devices.

#####################################################}
{% if vlan_port %}
{% for vlan in vlan_port %}
{# Generate Layer2 Native Port as Range CFG #}
{% if vlan.port_range %}
{% for range in vlan.port_range %}
interface range ethernet1/1/{{ range.start }}-1/1/{{ range.end }}
 description "{{ vlan.desc }}"
 switchport mode access
 switchport access vlan {{ vlan.id }}
 no shutdown
!
{% endfor %}
{% endif %}
{% if vlan.port_indiv %}
{% for indiv in vlan.port_indiv %}
interface ethernet{{ indiv }}
 description "{{ vlan.desc }}"
 switchport mode access
 switchport access vlan {{ vlan.id }}
 no shutdown
!
{%- endfor %}
{% endif %}
{% endfor %}
{% endif %}
