#jinja2: trim_blocks: True,lstrip_blocks: True
{#############################################

Purpose:
Configure Banner commands for dellos10 Devices

###############################################}

-------------------------------------------------------------------
---                                                             ---
---        This is a highly monitored and secured device!       ---
---                All communication is logged.                 ---
---        If you are not authorized to access this device      ---
---                      log off immediately.                   ---
---                                                             ---
---         ... Unauthorized access is prohibited ...           ---
---         ...  and will be prosecuted by law    ...           ---
-------------------------------------------------------------------

Model:    {{ vendor }} {{ model }}
Serv_Tag: {{ serv_tag }}
Hostname: {{ hostname }}.{{ dc_id }}
Location: {{ city }} {{ state }} {{ country }}, {{ site_id }}, Rack {{ rack_no }}, RU {{ rack_loc }}

