{###########################################

Purpose:
Generating BGP EVPN Overlay Configuration
############################################}
router bgp {{ bgp.local_as }}
 address-family l2vpn evpn
  advertise-all-vni
  advertise-default-gw
  advertise ipv4 unicast
  !
{% for vni in vxlans %}
  vni {{ vni.id }}
    rd {{ lpbk1.addr_v4 }}:{{ vni.id }}
    route-target both {{ vni.id }}:{{ vni.id }}
  !
{% endfor %}
 !
 peer-group fabric_peer_v4
  address-family l2vpn evpn
   activate
   allowas-in 1
  !
 !
 peer-group tor_peer_v4
  address-family l2vpn evpn
   activate
   allowas-in 1
  !
 !
 peer-group sas_peer_v4
  address-family l2vpn evpn
   activate
   allowas-in 1
  !
 !
!
