{###########################################

Purpose:
Generating Northbound Configuration
including L3 PTP link between Leaf/spine
############################################}
{% for intf in l3_uplinks %}
interface Eth 1/{{ intf.name }}
 description "{{ intf.desc }}"
 ip address {{ intf.addr_v4 }}/{{ fabric_ptp_netmaskv4 }}
{% if intf.addr_v6 is defined and intf.addr_v6 %}
 ipv6 address {{ intf.addr_v6 }}/{{ fabric_ptp_netmaskv6 }}
{% endif %}
 mtu 9216
 no shutdown
!
{% endfor %}


