{###########################################

Purpose:
Generating MLAG Domain Configuration
############################################}
interface Vlan {{ vlans.pair_vlan.id }}
exit
{% if mlag_bond is defined and mlag_bond %}
interface PortChannel {{ mlag_bond.bond_id }}
 description "MLAG Inter-SW CTRL Bond"
 mtu 9216
 switchport access vlan {{ vlans.native_vlan.id }}
 switchport trunk allowed vlan all
 no shutdown
!
{% if mlag_bond.bmem_range is defined and mlag_bond.bmem_range %}
{% set member = mlag_bond.bmem_range[i-1] %}
interface range Eth {{ member }}
 description "MLAG CTRL Bond {{ mlag_bond.bond_id }} member"
 mtu 9216
 channel-group {{ mlag_bond.bond_id }}
 no shutdown
exit
{% endif %}
{% if mlag_bond.bmem_indiv is defined and mlag_bond.bmem_indiv %}
{% for member in mlag_bond.bmem_indiv %}
interface Eth 1/{{ member }}
 description "MLAG CTRL Bond {{ mlag_bond.bond_id }} member"
 mtu 9216
 channel-group {{ mlag_bond.bond_id }}
 no shutdown
!
{% endfor %}
{% endif %}
mclag domain {{ mlag_bond.domain_id }}
{% if seq is even %}
 source-ip {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }}
{% else %}
 source-ip {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }}
{% endif %}
{% if seq is even %}
 peer-ip {{ tor_pair_netv4 | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }}
{% else %}
 peer-ip {{ tor_pair_netv4 | ansible.utils.ipaddr(2) | ansible.utils.ipaddr('address') }}
{% endif %}
 peer-link PortChannel {{ mlag_bond.bond_id }}
 delay-restore 60
 mclag-system-mac {{ tor_pair_vmac }}
!
{% endif %}
interface Vlan {{ vlans.pair_vlan.id }}
 description {{ vlans.pair_vlan.desc }}
 mtu 9216
 mclag-separate-ip
 {% if seq is odd %} 
 ip address {{ vlans.pair_vlan.netv4 | ipaddr(1) }}
{% else %} 
 ip address {{ vlans.pair_vlan.netv4 | ipaddr(2) }}
{% endif %}
{% if vlans.pair_vlan.netv6 is defined and vlans.pair_vlan.netv6 %}
{% if seq is odd %} 
 ipv6 address {{ vlans.pair_vlan.netv6 | ipaddr(1) }}
{% else %} 
 ipv6 address {{ vlans.pair_vlan.netv6 | ipaddr(2) }}
{% endif %}
{% endif %}
exit