{###########################################

Purpose:
Generating SPAN Configuration
############################################}
{% if span is defined and span %}
{% for session in span.session %}
{% if session.state == "present" %}
mirror-session {{ session.name }}
{% if session.desitnation == "erspan" %}
 destination erspan dst-ip {{ session.dst_ip }} src-ip {{ session.src_ip }} dscp {{ session.dscp }} ttl {{ session.ttl }} gre {{ session.gre }} source {{ session.source }} direction {{ session.direction }}
{% elif session.desitnation|lower == "cpu" %}
 destination CPU source {{ session.source }} direction {{ session.direction }}
{% elif "eth" in session.desitnation|lower %}
 destination {{ session.desitnation }} source {{ session.source }} direction {{ session.direction }}
{% endif %}
{% elif session.state == "absent" %}
no mirror-session {{ session.name }}
{% endif %}
{% endfor %}
!
{% endif %}


