{###########################################

Purpose:
Generating Local User Configuration
############################################}
{% for user in users %}
username {{ user.name }} password {{ user.passwd }} role admin
{% endfor %}
