#jinja2: trim_blocks: True, lstrip_blocks: True
{###########################################

Purpose:
Configure ACL for Dellos10 Devices
############################################}
{% include 'snmp_acl.eacl' %}

{% include 'vty_acl.eacl' %}
