{#################
###YAML Input
vlans:
    app_vlans:
        - 
            desc: "vlan101"
            id: "101"
            netv4: "10.10.1.0/24"
            netv6: "2001:a:1::0/64"

        - 
            desc: "vlan201"
            id: "201"
            netv4: "10.10.2.0/24"
            netv6: "2001:a:2::0/64"
        - 
            desc: "vlan301"
            id: "301"
            netv4: 10.10.3.0/24
            netv6: "2001:a:3::0/64"
        - 
            desc: "vlan1001"
            id: "ToR_Pair_iBGP"
            netv4: "10.10.101.0/24"
			mtu: "9216"

### Expected Config output
interface vlan101
 description vlan101
 no shutdown
 ip address 10.10.1.1/24
 ipv6 address 2001:a:1::1/64
!
interface vlan201
 description vlan201
 no shutdown
 ip address 10.10.2.1/24
 ipv6 address 2001:a:2::1/64
!
interface vlan301
 description vlan301
 no shutdown
 ip address 10.10.3.1/24
 ipv6 address 2001:a:3::1/64
!
interface vlan1001
 description ToR_Pair_iBGP
 no shutdown
 mtu 9216
 ip address 10.10.101.1/24
!
 
#################}
{## Jinja2 Template starts here


Jinja2 Template ends here##}
