#jinja2: trim_blocks: True, lstrip_blocks: True
{###########################################

Purpose:
Configure EVPN BGP commands for dellos10 Devices
############################################}
{% if bfd %}
bfd enable
bfd interval {{ bfd.interval }} min_rx {{ bfd.min_rx }} multiplier {{ bfd.multip }} role {{ bfd.role }}
!
{% endif %}
router bgp {{ bgp.asn }}
 router-id {{ bgp.router_id }}
 !
 address-family ipv4 unicast
{% if bgp.aggregate_v4 %}
  aggregate-address {{ bgp.aggregate_v4 }}
{% endif %}
{% if bgp.redis_v4 %}
{% for redis in bgp.redis_v4 %}
{% if redis.r_map %}
  redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
  redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
{% if bgp.network_v4 %}
{% for network in bgp.network_v4 %}
{% if network.r_map %}
  network {{ network.prefix }} route-map {{ network.r_map }}
{% else %}
  network {{ network.prefix }}
{% endif %}
{% endfor %}
{% endif %}
 !
 address-family ipv6 unicast
{% if bgp.aggregate_v6 %}
  aggregate-address {{ bgp.aggregate_v6 }}
{% endif %}
{% if bgp.redis_v6 %}
{% for redis in bgp.redis_v6 %}
{% if redis.r_map %}
  redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
  redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
{% if bgp.network_v6 %}
{% for network in bgp.network_v6 %}
{% if network.r_map %}
  network {{ network.prefix }} route-map {{ network.r_map }}
{% else %}
  network {{ network.prefix }}
{%- endif %}
{% endfor %}
{%- endif %}
 !
{% if bgp.template %} 
{% for template in bgp.template %} 
 template {{ template.name }}
  description "{{ template.desc }}"
{% if template.attribute %}
{% for attribute in template.attribute %}
  {{ attribute }}
{% endfor %}
{% endif %}
{% if template.asn %}
  remote-as {{ template.asn }}
{% endif %}
  !
{% for family in template.safi %}
  address-family {{ family.type }}
{% if family.activate.lower() == "yes" %}
   activate
{% else %}
   no activate
{% endif %}
  !
{% endfor %}
{% endfor %}
{%- endif %}
 !
{% for peer in bgp.peer %} 
 neighbor {{ peer.addr }}
  description "{{ peer.desc }}"
{% if peer.template %}
  inherit template {{ peer.template }}
{% endif %}
{% if peer.asn %}
  remote-as {{ peer.asn }}
{% endif %}
{% if bgp.password %}
  password {{ bgp.password }}
{% endif %}
  no shutdown
 !
{% endfor %}
!
