#jinja2: trim_blocks: True, lstrip_blocks: True
{###########################################

Purpose:
Configure v4/v6 BGP commands for dellos10 Devices
############################################}
router bgp {{ bgp.asn }}
 !
 address-family ipv4 unicast
  {% if bgp.aggregate_v4 %}
  aggregate-address {{ bgp.aggregate_v4 }}
  {% endif %}
  redistribute connected
 !
 address-family ipv6 unicast
  {% if bgp.aggregate_v6 %}
  aggregate-address {{ bgp.aggregate_v6 }}
  {% endif %}
  redistribute connected
 !
{% for peer in bgp.peers_v4 %} 
 neighbor {{ peer.addr }}
  description "{{ peer.desc }}"
  remote-as {{ peer.asn }}
  {% if bgp.password %}
  password {{ bgp.password }}
  {% endif %}
  no shutdown
 !
{%- endfor %}
{% if bgp.peers_v6 %}
{% for peer in bgp.peers_v6 %} 
 neighbor {{ peer.addr }}
  description "{{ peer.desc }}"
  remote-as {{ peer.asn }}
  {% if bgp.password %}
  password {{ bgp.password }}
  {% endif %}
  no shutdown
 !
  address-family ipv4 unicast
   no activate
  !
  address-family ipv6 unicast
   activate
 !
{%- endfor %}
{% endif %}

!
