{###########################################

Purpose:
Generating BGP EVPN Overlay Configuration
############################################}
router bgp {{ bgp.local_as }}
 address-family l2vpn evpn
  advertise-all-vni
  advertise-default-gw
  advertise ipv4 unicast
  !
{#
{% for vni in vxlans %}
  vni {{ vni.id }}
    rd {{ lpbk1.addr_v4 }}:{{ vni.id }}
    route-target both {{ vni.id }}:{{ vni.id }}
  !
{% endfor %}
#}
 !
{% if router_reflector|lower == "no" %}
 peer-group {{ evpn_ibgp.rrs_v4.peer_group }}
  ebgp-multihop 255
  remote-as external
  timers 3 9
  timers connect 30
  update-source interface Loopback 0
  advertisement-interval 5
  bfd
  capability extended-nexthop
  local-as {{ evpn_ibgp.local_asn }}
  !
  address-family l2vpn evpn
   activate
   allowas-in 3
 !
 {% for neighbor in evpn_ibgp.rrs_v4.addr %}
 neighbor {{ neighbor }}
  description evpn_router_reflector_server
  peer-group {{ evpn_ibgp.rrs_v4.peer_group }}
 !
{% endfor %}
{% elif router_reflector|lower == "yes" %}
 peer-group {{ evpn_ibgp.rrc_v4.peer_group }}
  ebgp-multihop 16
  remote-as external
  timers 3 9
  timers connect 30
  update-source interface Loopback 0
  advertisement-interval 5
  bfd
  capability extended-nexthop
  local-as {{ evpn_ibgp.local_asn }}
  !
  address-family l2vpn evpn
   activate
   route-reflector-client
   allowas-in 3
 !
 peer-group {{ evpn_ibgp.peer_v4.peer_group }}
  ebgp-multihop 16
  remote-as external
  update-source interface Loopback 0
  timers 3 9
  timers connect 30
  advertisement-interval 5
  bfd
  capability extended-nexthop
  local-as {{ evpn_ibgp.local_asn }}
  !
  address-family l2vpn evpn
   activate
   allowas-in 3
 !
{% for neighbor in evpn_ibgp.rrc_v4.addr %}
 neighbor {{ neighbor }}
  description evpn_router_reflector_client
  peer-group {{ evpn_ibgp.rrc_v4.peer_group }}
 !
{% endfor %}
{% for neighbor in evpn_ibgp.rrs_v4.addr %}
{% if neighbor != lpbk0.addr_v4 %}
 neighbor {{ neighbor }}
  description evpn_router_reflector_server_peer
  peer-group {{ evpn_ibgp.peer_v4.peer_group }}
 !
{% endif %}
{% endfor %}
{% endif %}
!
