{##################################################

Purpose:
Generating BGP Dual-Stack Underlay Configuration
###################################################}
router bgp {{ bgp.local_as }}
 router-id {{ lpbk0.addr_v4 }}
 bestpath as-path multipath-relax
 !
 address-family ipv4 unicast
{% if bgp.afi.ipv4 is defined and bgp.afi.ipv4 %}
{% for redis in bgp.afi.ipv4 %}
{% if redis.r_map %}
  redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
  redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
 exit
 address-family ipv6 unicast
{% if bgp.afi.ipv6 is defined and bgp.afi.ipv6 %}
{% for redis in bgp.afi.ipv6 %}
{% if redis.r_map %}
  redistribute {{ redis.proto }} route-map {{ redis.r_map }}
{% else %}
  redistribute {{ redis.proto }}
{% endif %}
{% endfor %}
{% endif %}
 exit
 peer-group fabric_peer_v4
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.spine_as }}
  !
  address-family ipv4 unicast
   activate
   allowas-in 2
  !
 exit
 peer-group tor_peer_v4
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.local_as }}
  remote-as internal
  !
  address-family ipv4 unicast
   activate
   allowas-in 2
  !
 exit
 peer-group sas_peer_v4
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.sas_as }}
  !
  address-family ipv4 unicast
   activate
   allowas-in 2
  !
 exit
 peer-group fabric_peer_v6
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.spine_as }}
  !
  address-family ipv4 unicast
   no activate
  !
  address-family ipv6 unicast
   allowas-in 2
   activate
  !
 exit
 peer-group tor_peer_v6
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.local_as }}
  remote-as internal
  shutdown message avoid-loopback0-route-loop
  !
  address-family ipv4 unicast
   no activate
  !
  address-family ipv6 unicast
   activate
  !
 exit
 peer-group sas_peer_v6
  advertisement-interval 5
  timers 3 9
  remote-as external
  capability extended-nexthop
  bfd
  remote-as {{ bgp.sas_as }}
  !
  address-family ipv4 unicast
   no activate
  !
  address-family ipv6 unicast
   activate
  !
 exit 
{% for peer in bgp.fabric_peer_v4 %}
 neighbor {{ peer }}
{% if seq is odd %}
  description "s{{loop.index}}g1"
{% else %}
  description "s{{loop.index}}g2"
{% endif %}
  peer-group fabric_peer_v4
  no shutdown
  !
{% endfor %}
 exit
{% if bgp.fabric_peer_v6 is defined and bgp.fabric_peer_v6 %}
{% for peer in bgp.fabric_peer_v6 %}
 neighbor {{ peer }}
{% if seq is odd %}
  description "s{{loop.index}}g1"
{% else %}
  description "s{{loop.index}}g2"
{% endif %}
  peer-group fabric_peer_v6
  no shutdown
  !
{% endfor %}
{% endif %}
 exit
{% if seq is even %}
 neighbor {{ tor_pair_netv4 | ipaddr(1) | ipaddr('address') }}
{% else %}
 neighbor {{ tor_pair_netv4 | ipaddr(2) | ipaddr('address') }}
{% endif %}
  description "tor_pair_ibgp_v4"
  peer-group tor_peer_v4
  update-source interface Vlan {{ vlans.pair_vlan.id }}
  no shutdown
  !
 exit
{% if tor_pair_netv6 is defined and tor_pair_netv6 %}
{% if seq is even %}
 neighbor {{ tor_pair_netv6 | ipaddr(1) | ipaddr('address') }}
{% else %}
 neighbor {{ tor_pair_netv6 | ipaddr(2) | ipaddr('address') }}
{% endif %}
  description "tor_pair_ibgp_v6"
  peer-group tor_peer_v6
  no shutdown
  !
 exit
{% endif %}
exit


