{###########################################

Purpose:
Generating EVPN Cluster Edge Configuration
############################################}
{% if edge_vlans is defined and edge_vlans %}
{% for vlan in edge_vlans %}
interface Vlan {{ vlan.id }}
  description "{{ vlan.desc }}"
  ip vrf forwarding Vrf_{{ vlan.vrf }}
{% if vlan.netv4 is defined and vlan.netv4 %}
  ip address {{ vlan.netv4 | ipaddr(1) }}
{% endif %}
{% if vlan.netv6 is defined and vlan.netv6 %}
  ipv6 address {{ vlan.netv6 | ipaddr(1) }}
{% endif %}
  mtu {{ vxlan_mtu }}
!
interface Eth 1/{{ vlan.port }}
  description "{{ vlan.desc }}-trunk port"
  no shutdown
  switchport mode trunk
  switchport access vlan {{ vlans.native_vlan.id }}
  switchport trunk allowed vlan {{ vlan.id }}
  mtu 9216
!
{% endfor %}
{% endif %}
{% if edge_links is defined and edge_links %}
{% for link in edge_links %}
interface Eth 1/{{ link.port }}
  description "{{ link.desc }}"
  ip vrf forwarding Vrf_{{ link.vrf }}
{% if link.netv4 is defined and link.netv4 %}
  ip address {{ link.netv4 | ipaddr(1) }}
{% endif %}
{% if link.netv6 is defined and link.netv6 %}
  ipv6 address {{ link.netv6 | ipaddr(1) }}
{% endif %}
  mtu {{ vxlan_mtu }}
  no shutdown
!
{% endfor %}
{% endif %}
